<!DOCTYPE html>
<html>

<head>
  {% block head %}
  {% load static %}
  <meta name="author" content="Ramon Dutra Miranda" />
  <meta name="description" content="Glossario libras, ufsc, dicionario, letras libras, glossario cinema" />
  <meta name="keywords" content="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href='{% static "css/materialize.css" %}' media="screen,projection" />
  <link type="text/css" rel="stylesheet" href='{% static "css/material-icons.css" %}' media="screen,projection" />
  <link type="text/css" rel="stylesheet" href='{% static "css/base.css" %}' />
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  
  <!-- JS -->
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  <!-- Star Ratings JS -->
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {% endblock %}
  <title>{% block title %}Glossário Libras{% endblock %}</title>
</head>

<body>
  {% include 'glossario/search_bar.html' %}
  {% block body %}
  {% endblock %}
</body>

</html>