{% extends 'glossario/base.html' %}
	<title>{% block title %}Contato - Glossário Letras Libras{% endblock %}</title>
{% block body %}
 <div class="container">
		<h2 class="thin center">Contato</h2>
		<div class="divider"></div>
		<div class="section">
			<h4 class="thin">Dúvidas e apoio linguístico</h4>
			<p class="flow-text">Profa. Dra. Janine - janinemat@gmail.com</p>
			<p class="flow-text">Profa. Dra. Marianne - marianne@ead.ufsc.br</p>
		</div>
		<h4 class="thin">Software</h4>
		<p class="flow-text">Ramon Dutra Miranda - ramon.rdm@ufsc.br</p>
		{{test}}
	</div>
{% endblock %}
