{% extends 'glossario/base.html' %}
{% block head %}
{{ block.super }}
{{ formSinais.media }}
{% load staticfiles %}
<title>{% block title %}Pesquisa {{ glossario.nome }} - Glossário Letras Libras {% endblock %}</title>
{% endblock %}
{% block body %}


<div class="area-para-footer">
  <div>
    {% if sinais_page %}
    {% include 'glossario/blockPesquisaList.html' %}
    {% else %}
    </br>
    <p class="flow-text center nenhumSinal">Nenhum sinal encontrado</p>
    {% endif %}
  </div>

  {% if sinais_page.has_other_pages %}
  <ul class="pagination center">
    {% for n in sinais_page.paginator.page_range %}
    {{ sinais_page.page}}
      {% if sinais_page.number|add:'-3' == n %}
      <!-- Primeira Pagina -->
      <li class="waves-effect"><a
        onclick="nextPage('1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}')">1</a></li>
        {% if n != 1 %}
        <li class="disabled"><a>&#8943;</a></li>
        {% endif %}
      {% elif sinais_page.number == n %}
        <!-- Pagina atual  -->
        <li class="active blue"><a  >{{ n }}</a></li>
      {% elif sinais_page.number|add:'-3' < n and n < sinais_page.number|add:'3' %}
        <!-- Paginas perto da pagina atual -->
        <li class="waves-effect"><a
          onclick="nextPage('{{ n }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}')">{{ n }}</a></li>
      {% elif sinais_page.number|add:'3' == n %}
        <!-- Ultima pagina -->
        {% if n != sinais_page.paginator.num_pages %}
        <li class="disabled"><a>&#8943;</a></li>
        {% endif %}
        <li class="waves-effect"><a
          onclick="nextPage('{{ sinais_page.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}')">{{ sinais_page.paginator.num_pages }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script type="text/javascript">
  function nextPage(valor) {
    document.getElementById("id_page").value = valor;
    document.getElementById("formSinais").submit();
  }
</script>
{% endblock %}