{{ formSinais.media }}
{% load staticfiles %}

<div class="principal">
  <div class="navbar-fixed">
    <nav class="row white">
      <!-- Icone de Slide bar WEB  -->
      <ul class="col l1 left hide-on-med-and-down">
        <li>
          <a id="abrirSidenav" class="btn-floating btn-flat waves-effect waves-light white">
            <i class="material-icons">dehaze</i>
          </a>
        </li>
        <li>
          <a id="fecharSidenav" class="btn-floating btn-flat waves-effect waves-light white">
            <i class="material-icons">dehaze</i>
          </a>
        </li>
      </ul>
      <!------- Navbar Mobile --------->
      <nav class="hide-on-large-only">
        <div class="nav-wrapper valign-wrapper">
          <!-- Icon sidenav -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
          <!-- Icon Logo glossaio -->
          <a class="logoAnchorTag" href="/"><img class="logoGlossarioMobile center-block"
              src='{% static "img/mobile_glossario.png" %}'></a>
        </div>
      </nav>
      {% if formSinais %}
      <!-- Logo -->
      <div class="col l2 hide-on-med-and-down">
        <a href="/">
          <img class="brand-logo left" src='{% static "img/marca_glossario.png" %}'>
        </a>
      </div>
      <!-- busca -->
      <ul>
        <form method="GET" action="{% url 'pesquisa'  %}" id="formSinais">
          <!-- Search bar -->
          <div id="search-bar" class="col l5">
            <!-- Pesquisa por sinais -->
            {% for field in formSinais %}
            {% if field.name == "busca" %}
            <div id="searchTexto" class="col s6 m6 l3 center hide-on-med-and-down">
              {{ field }}
            </div>
            {% else %}
            <div class="col s3 m3 l2 center searchSinais">
              {{ field }}
            </div>
            {% endif %}
            {% endfor %}
            <!-- Botão para trocar para pesquisa em texto MOBILE -->
            <div class="col s3 m3 l2 center hide-on-large-only">
              <button type="button" id="abrirSearchTexto"
              class="btn-floating btn-large waves-effect waves-light grey botaoTexto">
              <i class="material-icons white-text">text_format</i></a></button>
            </div>
            <!-- Botão para trocar para pesquisa por sinais MOBILE -->
            <div class="col s3 m3 l2 center hide-on-large-only">
              <button type="button" id="fecharSearchTexto"
              class="btn-floating btn-large waves-effect waves-light grey botaoTexto hide">
              <i class="material-icons white-text">pan_tool</i></a></button>
            </div>
            <!-- Botão de submit -->
            <button type="submit" id="botaoPesquisarMobile"
            class="btn-floating btn-large waves-effect waves-light indigo darken-4 botaoPesquisarMobile hide-on-large-only">
            <i class="material-icons white-text">search</i></a></button>
          </div>          
          <!-- Botão pesquisa WEB-->
          <div class="col l1 right hide-on-med-and-down">
            <li>
              <input type="hidden" name="page" id="id_page" value="">
              <button class="btn waves-effect waves-light botaoPesquisar" type="submit">
                Pesquisar<i class="material-icons">close</i></button>
            </li>
          </div>
        </form>
      </ul>
      {% else %}
      <div class="col l11 center hide-on-med-and-down">
        <a href="/">
          <img class="center-align logo" src='{% static "img/marca_glossario.png" %}'>
        </a>
      </div>
      {% endif %}
    </nav>
    <ul id="mostrarSidenav" class="sidenav sidenav-fixed">
      <div id="" class="sideNavLinks">
        {% include 'glossario/menu.html' %}
      </div>
    </ul>
  </div>
</div>

<ul class="sidenav" id="mobile-demo">
  {% include 'glossario/menu.html' %}
</ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#abrirSearchTexto').click(function(){
      $('.searchSinais').hide();
      $('#searchTexto').removeClass("hide-on-med-and-down");
      $(this).addClass("hide")
      $('#fecharSearchTexto').removeClass("hide");
    });
    $('#fecharSearchTexto').click(function(){
      $('.searchSinais').show();
      $('#searchTexto').addClass("hide-on-med-and-down");
      $(this).addClass("hide")
      $('#abrirSearchTexto').removeClass("hide");
    });
  });
</script>