{{ formSinais.media }}
{% load staticfiles %}

<div class="principal">
  <div class="navbar-fixed">
    <nav class="row white">
      <!-- Icone de Slide bar WEB  -->
      <ul class="col l1 left hide-on-med-and-down">
        <li>
          <a id="abrirSidenav" class="btn-floating btn-flat waves-effect waves-light white">
            <i class="material-icons">dehaze</i>
          </a>
        </li>
        <li>
          <a id="fecharSidenav" class="btn-floating btn-flat waves-effect waves-light white">
            <i class="material-icons">dehaze</i>
          </a>
        </li>
      </ul>
      <!------- Navbar Mobile --------->
      <nav class="hide-on-large-only">
        <div class="nav-wrapper valign-wrapper">
          <!-- Icon sidenav -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
          <!-- Icon Logo glossaio -->
          <a class="logoAnchorTag" href="/"><img class="logoGlossarioMobile center-block"
              src='{% static "img/mobile_glossario.png" %}'></a>
        </div>
      </nav>
      {% if formSinais %}
      <!-- Logo -->
      <div class="col l3 hide-on-med-and-down">
        <a href="/">
          <img class="brand-logo left" src='{% static "img/marca_glossario.png" %}'>
        </a>
      </div>
      <!-- busca -->
      <ul>
        <form method="post" action="{% url 'pesquisa'  %}" id="formSinais">
          {% csrf_token %}
          <!-- Search bar -->
          <div id="search-bar" class="col l5">
            {% for field in formSinais %}
            <div class="col s3 m2 l2 center">
              {{ field }}
            </div>
            {% endfor %}
            <button type="submit" id="botaoPesquisarMobile"
            class="btn-floating btn-large waves-effect waves-light indigo darken-4 botaoPesquisarMobile hide-on-large-only">
            <i class="material-icons white-text">search</i></a></button>
            <!-- <a id="abrirNavSearchMobile" class="btn-floating btn-large halfway-fab waves-effect waves-light indigo darken-4"
          style="position: absolute; top: -80%;"><i class="material-icons white-text">text_format</i></a></nav> -->
          </div>
          <!-- Opção de glossario e area -->
          {% if area %}
          <div class="chipGlossario chip">
            Buscando em {{ area }}
            <i class="close material-icons" onclick="apagaArea()">close</i>
          </div>
          {{area.id}}
          <input type="hidden" id="areaSelecionada" name="area" value="{{ area.id }}">
          {% elif glossario %}
          <div class="chipGlossario chip">
            {% if glossario.imagem %}
            <img class="circle imgIndex" src="{{ glossario.imagem.url }}" />
            {% endif %}            
            Buscando em {{ glossario.nome }}
            <i class="close material-icons" onclick="apagaGlossario()">close</i>
          </div>
          <input type="hidden" id="glossarioSelecionado" name="glossario" value="{{ glossario.id }}">
          {% endif %}
          <!-- Botão pesquisa WEB-->
          <div class="col right hide-on-med-and-down">
            <li>
              <input type="hidden" name="page" id="id_page" value="">
              <button class="btn waves-effect waves-light botaoPesquisar" type="submit"
                name="botaoPesquisar">Pesquisar<i class="material-icons">close</i></button>
            </li>
          </div>
        </form>
      </ul>
      {% else %}
      <div class="col l11 center hide-on-med-and-down">
        <a href="/">
          <img class="center-align logo" src='{% static "img/marca_glossario.png" %}'>
        </a>
      </div>
      {% endif %}
    </nav>
    <ul id="mostrarSidenav" class="sidenav sidenav-fixed">
      <div id="" class="sideNavLinks">
        {% include 'glossario/menu.html' %}
      </div>
    </ul>
  </div>
</div>

<script type="text/javascript">
  function apagaGlossario() {
    document.getElementById("glossarioSelecionado").value = "";
  }
  function apagaArea() {
    document.getElementById("areaSelecionada").value = "";
  }
</script>

<ul class="sidenav" id="mobile-demo">
  {% include 'glossario/menu.html' %}
</ul>

</div>