{% extends 'base.html' %}
{% block Corpo %}
 <div class="row container" id="{{field.auto_id}}">
            <div class="col l6 push-l2"><br></br><br></br>
                <div class="divider"></div>
                <center><h3>Enviamos um e-mail!</h3></center>
                        <br></br>
              <p class="flow-text">
                  Enviámos-lhe instruções para definir a sua palavra-passe, se existir uma conta com o email que introduziu. Você deve recebê-los em breve.
              </p>
              <p class="flow-text">
                  Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam.
            </div>
 </div>
{% endblock %}