{% extends 'glossario/base.html' %}
{% block body %}
<div class="row center container" id="{{field.auto_id}}">
    <div class="col l4 offset-l4 m6 offset-m3 s12"><br></br><br></br><br></br>
        <div class="divider"></div>
        <h3 class="thin center">Esqueceu sua senha?</h3>
        <p class="center">Insira o seu email e enviaremos um link para você voltar a acessar a sua conta.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn waves-effect waves-light botaoEnviarSinal">Enviar</button>
        </form>
    </div>
</div>
</div>
{% endblock %}