 {% extends 'base.html' %}
{% block head %}
	{{ block.super }}
    {% load staticfiles %}
     <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="thin center">Registrar</h2>
        <div class="divider"></div>
            <div class="file-field ">
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button  class="btn waves-effect botaoEnviarSinal center" value='Registrar' type="submit" name="Registrar">Registrar </button>
                    <div class="col l7 push-l5 s17 push-s5 ">
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}