/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 7:09:35 AM
    Author     : bugraozden
*/

.icon-selectMao{
    width:0px;
 }

 .icon-selectMao .selected-boxMao {
     margin-top: 4px !important;
     position: relative;
     margin: 0px;
     padding: 0px;
     width: 100px; /* sil */
     height: 100px; /* sil */


     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-selectMao .selected-boxMao:hover {

     position: relative;
     margin: 0px;
     padding: 0px;
     width: 85px; /* sil */
     height: 85px; /* sil */

     background-color: #FFFFFF;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-selectMao .selected-iconMao {

     position: absolute;
     margin: 0px;
     padding: 0px;
     top:5px;
     left:5px;
     width: 48px; /* sil */
     height: 48px; /* sil */

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-selectMao .component-iconMao{
     display : none;
 }

 .icon-selectMao .boxMao {
     z-index: 2;
     position: absolute;
     top:100px;
     left:0px;
     margin: 0px;
     padding: 0px;
     width: 100%; /* sil */
     height: 990px; /* sil */
     border: 1px solid #EEEEEE;
     background-color: #EEEEEE;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     

     /*
     -webkit-overflow-scrolling: touch;
     */

 }

 .icon-selectMao .iconMao {
     position: relative;
     margin: 5px 0px 0px 5px;
     padding: 0px;
     width: 75px; /* sil */
     height: 75px; /* sil */
     border: 1px solid #CCCCCC;
     background-color: #FFFFFF;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
 }

 .icon-selectMao .iconMao:hover {
     border: 1px solid #000000;
 }

 .icon-selectMao .iconMao.selected {
     position: relative;
     margin: 5px 0px 0px 5px;
     padding: 0px;
     width: 75px; /* sil */
     height: 75px; /* sil */
     border: 1px solid #EEEEEE;
     background-color: #EEEEEE;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
}

#id_cmE{
    display: none;
}

.field-cmE{
    overflow: visible !important;
}