/* ================= COMUM ================= */

/* Retira o deslocamento da página causado pela sidenav fixa */
body {
	padding-left: 0;
	background-color: #f7f7f7;
}

.iconePortalLibras {
	width: 40px;
	padding-top: 5px;
	padding-right: 5px;
}

/* Cor do underline do campo de texto de formulários */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #003a99;
	box-shadow: 0 1px 0 0 #003a99;
}

/* Cor do texto de selects de formulários */
ul.dropdown-content.select-dropdown li span {
    color: black;
}

/* Cor padrão da aplicação para os material icons */
.icone {
	color: #003a99;
}

/* Para as imagens na sidenav mobile não mudarem de cor no hover */
nav ul a:hover {
   background-color: white;
}

.imgIndex {
	width: 160px;
	height: 160px;
}

.textoIndex {
	color: #003a99;
}

/* Estrutura dos glossários no index */
.blockContainer {
	margin-top: 5%;
}

/* Glossários no index */
.block {
	width: 200px;
	display: inline-block;
	margin-top: 2%;
}

/* Footer da sidenav */
.borda {
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.divisor {
	margin-right: 5%;
	margin-left: 5%;
}

.checkboxAzul[type="checkbox"].filled-in:checked + label:after {
	border: 2px solid #003a99;
	background-color: #003a99;
}

.checkboxes {
	text-align: center;
	line-height: 50px;
	max-height: 25px;
}

/* Esconde o modelo do avatar da localização e corrige um deslocamento do highlight com a imagem */
.map {
	display: none;
	line-height: 2.5;
}

/* Define as dimensões do avatar */
img#modeloImg {
	width: 650px;
	height: 650px;
}

/* Esconde as options que não estão selecionadas ao construir a página */
div.thumbnail:not(.selected) {
	display: none;
}

/* Arredonda thumbnail do imagepicker */
.thumbnail {
	border-radius: 5px;
}

/* Tamanho e cor das imagens do imagepicker */
.thumbnails li img {
	background-color: white;
	width: 100px;
}

/* Define o texto das thumbnails como preto quando não está selecionado */
div.thumbnail.hoverable:not(.selected) p{
	color: black;
}

/* Centralizar a descrição da option */
.thumbnails li p {
	color: white;
	text-align: center;
}

ul.thumbnails.image_picker_selector {
	padding: 15px !important;
}

ul.thumbnails.image_picker_selector li .thumbnail {
	padding: 0 !important;
}

.imgGlossario {
	width: 100px;
	/*height: 120px;*/
}

.glossarioSearch {
	width: 90%;
	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
}

.videoSinal {
	display: inline;
}

.botaoEnviarSinal, .botaoEnviarSinal:focus {
	margin-top: 20px;
	background-color: #003a99;
}

.botaoEnviarSinal:hover {
	background-color: #0060ff;
}

.titulo {
	margin-top: 5%;
	text-align: center;
}

.historia-titulo {
	margin-top: 5%;
	margin-left: 5%;
}

.historia {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	white-space: pre-line;
}

.definicao-titulo {
	margin-top: 5%;
	margin-left: 5%;
}

.definicao {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.rodape {
	text-align: center;
	white-space: pre-line;
	margin-bottom: 10%;
}

/* =============== FIM COMUM =============== */

/* =============== IPHONE 4 =============== */

@media screen and (max-height: 480px) {

	.logoGlossario {
		width: 200px;
		margin-left: 50px;
	}
	
	.logoGlossarioSearch {
		width: 200px;
	}

	.logoUFSC {
		width: 220px;
		position: absolute;
		margin-left: 20px;
		margin-top: 3%;
	}

	.logoUFSCSearch {
		display: none;
	}

	.logoUFSCSmall {
		width: 50px;
		position: absolute;
		right: 20px;
	}

	.logosPositionFix {
		padding: 0 !important;
		margin-bottom: 2px;
	}

	.sideNavLinks {
		margin-top: 3%;
	}

	.sideNavSearchLinks {
		margin-top: 12%;
	}

	.linkHeightFix {
		height: 43px !important;
	}

	.imgIndex {
		width: 80px;
		height: 80px;
	}

}

/* ============== FIM IPHONE 4 ============== */

/* ============== IPHONE 5 + ============== */

@media screen and (min-height: 481px) {

	.logoGlossario {
		width: 280px;
		margin-left: 10px;
	}

	a.logoGlossarioPaddingFix {
		padding: 0;
	}

	.logoGlossarioSearch {
		width: 250px;
	}

	.logoUFSCSmall {
		display: none;
	}

	.logoUFSC {
		width: 220px;
		position: absolute;
		margin-left: 25px;
		bottom: 8%;
	}

	.logoUFSCSearch {
		width: 220px;
		position: absolute;
		margin-left: 40px;
		bottom: 7%
	}

	.glossarioSearch {
		margin-top: 2%;
	}

	div.row.logosPositionFix {
		margin-bottom: 0;
	}

	.sideNavLinks {
		margin-top: 11%;
	}

	.sideNavSearchLinks {
		margin-top: 14%;
	}

	.linkHeightFix {
		height: 44px !important;
	}

	.imgIndex {
		width: 80px;
		height: 80px;
	}


}

/* ============ FIM IPHONE 5 + ============= */

/* ============ IPHONE 6S + ============= */

@media screen and (min-height: 581px) {

	.linkHeightFix {
		height: 48px !important;
	}

	.sideNavSearchLinks {
		margin-top: 23%;
	}

	.glossarioSearch {
		margin-top: 8%;
	}

	.checkboxes {
		text-align: center;
		line-height: 70px;
		max-height: 25px;
	}

	.imgIndex {
		width: 100px;
		height: 100px;
	}

}

/* ============ FIM IPHONE 6S + ============= */

/* ================= TABLET ================= */

@media screen and (min-width: 768px) {

	/* Desloca a página para a direita por causa da sidenav fixa */
	body {
		padding-left: 300px;
		background-color: #f7f7f7;
	}

	.logoGlossario {
		width: 280px;
	}

	.logoUFSC {
		width: 220px;
		position: absolute;
		bottom: 7%;
	}

	.sideNavLinks {
		margin-top: 15%;
	}

	.imgIndex {
		width: 140px;
		height: 140px;
	}

}

/* =============== FIM TABLET =============== */

/* ================= DESKTOP ================= */

@media screen and (min-width: 992px, min-height: 769px) {

	/* Desloca a página para a direita por causa da sidenav fixa */
	body {
		padding-left: 300px;
		background-color: #f7f7f7;
	}

	.logoGlossario, .logoGlossarioSearch {
		width: 280px;
	}

	.logoUFSC {
		position: absolute;
		margin-left: 40px;
		bottom: 7%;
		width: 220px;
	}

	.logoUFSCSearch {
		margin-top: 34%;
		width: 220px;
	}

	.sideNavLinks {
		margin-top: 15%;
	}

	.linkContainer {
		margin-top: 25%;
	}

	.footer{
		position: fixed; 
		bottom: 0px;
		min-width: 100%;
		margin-bottom:-6px;
		text-align: center;
		z-index: 1;
	}

	.imgGlossario {
		width: 120px;
		height: 120px;
		margin-top: 5%;
	}

	.videoGlossario {
		margin-top: 2%;
		width: 800px;
	}

	.videoOff {
		margin-top: 15%;
	}

	.cardTexto {
		text-align: justify;
	}

	.formEnviarSinais {
		padding-top: 5%;
	}

	.titulo {
		margin-top: 5%;
		text-align: center;
	}

	.historia-titulo {
		margin-top: 5%;
		margin-left: 5%;
	}

	.historia {
		margin-left: 10%;
		margin-right: 10%;
		text-align: justify;
		white-space: pre-line;
	}

	.definicao-titulo {
		margin-top: 5%;
		margin-left: 5%;
	}

	.definicao {
		margin-top: 5%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: justify;
	}

	.rodape {
		text-align: center;
		white-space: pre-line;
		margin-bottom: 10%;
	}

}

/* =============== FIM DESKTOP =============== */