/*============= CLASSES REFATORADAS =============*/

/* === BASE === */

/* Efeito do clique nos links da sidenav */
.waves-effect.waves-blue .waves-ripple {
	background-color: rgba(0, 0, 112, 0.65);
}

/* Cor do underline do campo de texto de formulários */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #003a99;
	box-shadow: 0 1px 0 0 #003a99;
}

/* Cor do texto de selects de formulários */
ul.dropdown-content.select-dropdown li span {
    color: black;
}

body {
	padding-left: 300px;
	background-color: #f7f7f7;
}

@media only screen and (max-width : 992px) {
	body {
		padding-left: 0;
	}
}

.logoGlossario {
	width: 280px;
}

.iconePortalLibras {
	width: 40px;
	padding-top: 5px;
	padding-right: 5px;
}

.logoUFSC {
	margin-top: 75%;
	width: 220px;
}

.logoUFSCMobile {
	margin-top: 60%;
	width: 220px;
}

.logoUFSCSearch {
	margin-top: 34%;
	width: 220px;
}

.logoUFSCSearchMobile {
	margin-top: 10%;
	width: 220px;
}

.glossarioSearch {
	width: 90%;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
}

.glossarioSearchMobile {
	width: 90%;
	margin-top: 130px;
	margin-left: 5%;
	margin-right: 5%;
}

.sideNavSearchMobileLinks {
	margin-top: 25%;
}

.sideNavLinks {
	margin-top: 15%;
}

.sideNavMobileLinks {
	margin-top: 50%;
}

.linkContainer {
	margin-top: 25%;
}

.checkboxAzul[type="checkbox"].filled-in:checked + label:after {
     border: 2px solid #003a99;
     background-color: #003a99;
}

.footer{
	position: fixed; 
	bottom: 0px;
	min-width: 100%;
	margin-bottom:-6px;
	text-align: center;
	z-index: 1;
}

.borda {
	width:100%;
	max-height: 100px;
	margin:0px;
	/*position: static; */
}

/* === INDEX === */

.imgIndex {
	width: 160px;
	height: 160px;
}

.textoIndex {
	color: #003a99;
}

.blockContainer {
	margin-top: 5%;
}

.block {
	width: 200px;
	display: inline-block;
	margin-top: 2%;
}

/* === GLOSSÁRIO === */

.imgGlossario {
	width: 120px;
	height: 120px;
	margin-top: 5%;
}

.imgGlossarioMobile {
	width: 120px;
	height: 120px;
	margin-top: 50%;
}

.checkboxes {
	margin-top: 3%;
}

.videoGlossario {
	margin-top: 2%;
	width: 800px;
}

.videoOff {
	margin-top: 15%;
}

.icone {
	color: #003a99;
}

/* === HISTORIA ===*/

.divisor {
	margin-right: 5%;
	margin-left: 5%;
}

/* === EQUIPE === */

.cardTexto {
	text-align: justify;
}

/* === ENVIAR SINAIS === */

.formEnviarSinais {
	padding-top: 5%;
}

/* Transição das imagens do imagepicker */
.thumbnail {
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

/* Tamanho das imagens do imagepicker */
.thumbnails li img {
	width: 100px;
}

/* Centralizar a descrição da option */
.thumbnails li p {
	text-align: center;
}

.botaoEnviarSinal, .botaoEnviarSinal:focus {
	margin-top: 20px;
	background-color: #003a99;
}

.botaoEnviarSinal:hover {
	background-color: #0060ff;
}

/*========= FIM DAS CLASSES REFATORADAS =========*/

.titulo {
	margin-top: 5%;
	text-align: center;
}

.historia-titulo {
	margin-top: 5%;
	margin-left: 5%;
}

.historia {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	white-space: pre-line;
}

.definicao-titulo {
	margin-top: 5%;
	margin-left: 5%;
}

.definicao {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.rodape {
	text-align: center;
	white-space: pre-line;
	margin-bottom: 10%;
}