
.top{
display: table;
width: 100%;
/* min-width: 550px;*/
}
.esquerda{
	float:left;
	width: 30%;
	min-width: 375px;
}
.direita{

	width: 12%;
	float: right;

}

.centro{
	width: 50%;
	min-width: 550px;
	margin-right: 100px;
	margin-left: 375px;
	/* float:center;
	width:30%; */
	
	
}



/* IMAGENS */
#glossario{
	margin-left: 15px;
	/* position: static;*/
	

}
#logoufsc{

}




/* MENU SUPERIOR */


#menuS{
	
	margin-top: 40px;
	border-radius: 10px;
	border-style: solid;
	background-color:#482AB3;
	height:55px;

	
	/*Position: absolute;*/

}
#menuS li:hover { 
	border-width: thick;
	border-color: black;
 }

#menuS ul{
	
	padding: 10px 10px;
	list-style: none;
	margin:10px 10px 10px 10px;
	min-width: 530px;

}
#menuS ul li{
	border-width: medium;
	border-style: ridge;
	border-radius: 10px;
	border-color: blue;
	padding:2px 5px 5px 2px;
	margin:12px;
	background-color:#482AB3;
	display: inline;
	

}
#menuS ul li a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    
}
/* Parte Centro */
.horiz{
	margin-top: 50px;
	text-align: center;
	
}

.linha1{
	margin-left: 10px;
	width: 200px;
	display: inline-block;
}

#borda{
	min-width:100%;
	max-height: 100px;
	/* position: static; */
}

#baixo{
	position: fixed; 
	bottom: 0;
	min-width: 100%
}

body{
	margin: 0px;
	height: 100%;
	min-height: 100%;
}