.textoSinal {
	overflow: hidden;
	text-overflow: ellipsis;
}

.videoSinal {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 750px;
}

.mao {
	margin-top: 20px;
}

.cardSinalMao {
	min-height: 150px;
	max-height: 650px;
}

@media only screen and (max-width : 992px) {
	.cardSinalMao {
		min-height: 450px;
	}
}

.cardSinal {
	min-height: 150px;
	max-height: 650px;
}

.imgMao {
	margin-top: 20px;
	margin-bottom: 20px;
}

.imgSinal {
	width: 100px;
	height: 100px;
}

.textoTraducoes {
	margin-top: 3%;
}