.sinais {
    background-color: white !important;
    height: 90px !important;
    padding: 2px !important;
    border-radius: 100% !important;
    border-style: outset !important;
    border-bottom-width: 2px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    margin-top: 3% !important;
}

@media only screen and (max-width: 591px) {
    .sinaisMobile {
        height: auto !important;
        width: 81% !important;
        padding: 0 !important;
        border-bottom-width: 3px !important;
        margin-left: 30% !important;
        margin-right: 50% !important;
        margin-top: 10px !important;
    }
}