{% extends 'glossario/base.html' %}
{% block body %}
  {% if validlink %}
        <div class="row container" id="{{field.auto_id}}">
            <div class="col l6 push-l2"><br></br><br></br><br></br>
                <div class="divider"></div>
                    <form method="post" class="formEnviarSinais" enctype="multipart/form-data">
                    <h3 class="thin center">Nova Senha</h3>

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn waves-effect waves-light botaoEnviarSinal col l4 push-l4">Mudar Senha</button>
                        </form>

                </div>
            </div>
        </div>
  {% else %}
     <div class="row container" id="{{field.auto_id}}">
            <div class="col l8 push-l2"><br></br><br></br>
                <div class="divider"></div>
                <center><h3>Erro ao tentar mudar a senha</h3>
              <p class="flow-text">
                    O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.
              </p></center>

            </div>
     </div>
  {% endif %}
{% endblock %}