{% extends 'glossario/base.html' %}
{% block body %}
        <div class="row container" id="{{field.auto_id}}">
            <div class="col l6 push-l2"><br></br><br></br><br></br>
                <div class="divider"></div>
                    <form method="post" class="formEnviarSinais" enctype="multipart/form-data">
                    <h3 class="thin center">Requerimento de Senha</h3>

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn waves-effect waves-light botaoEnviarSinal col l4 push-l4">Enviar</button>
                        </form>

                </div>
            </div>
        </div>
{% endblock %}

