<!DOCTYPE html>
<html>
<head>
    {% block Head %}
    {% load staticfiles %}

    <meta name="author" content="Ramon Dutra Miranda"/>
    <meta name="description" content="Glossario libras, ufsc, dicionario, letras libras, glossario cinema"/>
    <meta name="keywords" content="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href='{% static "css/material-icons.css" %}'  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <link href='{% static "css/style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>
<body>

<!-- SIDENAV FIXA -->
        
    <ul class="side-nav fixed">
        <div class="nav-wrapper center">
            <a href="/" class="brand-logo"><img class="logoGlossario" src='{% static "img/marca_glossario.png" %}'></a>
        </div>
<!--         <div class="center">
            {% if glossario.imagem %}
                <a href="/{{glossario.link}}"><img class="circle z-depth-4 imgGlossario" src="{{ glossario.imagem.url }}"/></a>
            {% else %}
                <a href="/{{glossario.link}}"><i class="large material-icons icone imgGlossario">cloud_off</i></a>
            {% endif %}
            <div><span>{{ glossario.nome }}</span></div>
        </div> -->
        <nav class="glossarioSearch">
            <div class="nav-wrapper white">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ formulario }}
                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    <div class="center">
                        <input type="checkbox" class="filled-in checkboxAzul" id="checkboxPort" name="checkboxPort" checked="checked"/>
                        <label for="checkboxPort">Português</label>
                        <input type="checkbox" class="filled-in checkboxAzul" id="checkboxIng" name="checkboxIng" />
                        <label for="checkboxIng">Inglês</label>
                    </div>
                </form>
            </div>
        </nav>
        <div class="linkContainer">
            <div class="sideNavLinks">
                <li><a class="waves-effect waves-blue" href="https://libras.ufsc.br/"><i class="material-icons"><img class="iconePortalLibras" src='{% static "img/marca_portal_libras2.png" %}'></i>Portal Libras</a></li>
                <li><a class="waves-effect waves-blue" href="/enviarsinais"><i class="material-icons">send</i>Enviar sinais</a></li>
                <li><a class="waves-effect waves-blue" href="/historia"><i class="material-icons">library_books</i>História</a></li>
                <li><a class="waves-effect waves-blue" href="/equipe"><i class="material-icons">supervisor_account</i>Equipe</a></li>
                <li><a class="waves-effect waves-blue" href="/contato"><i class="material-icons">call</i>Contato</a></li>
                <li><a class="waves-effect waves-blue" href="/admin"><i class="material-icons">https</i>Admin</a></li>
            </div>
        </div>
        <div class="nav-wrapper center"><a href="http://ufsc.br" class="brand-logo"><img class="logoUFSCSearch" src='{% static "img/marca_ufsc.svg" %}'></a></div>
    </ul>

<!-- NAVBAR MOBILE -->

    <div class="navbar hide-on-large-only">
        <nav class="blue darken-4" role="navigation">
            <ul id="nav-mobile" class="side-nav">
                <!-- <li onclick="$('.button-collapse').sideNav('show')"></li> -->
                <li>
                    <div class="userView">
                        <a href="/" class="brand-logo"><img class="logoGlossario" src='{% static "img/marca_glossario.png" %}'></a>
                    </div>
                </li>
<!--                 <div class="center">
                    {% if glossario.imagem %}
                        <a href="/{{glossario.link}}"><img class="circle z-depth-4 imgGlossarioMobile" src="{{ glossario.imagem.url }}"/></a>
                    {% else %}
                        <a href="/{{glossario.link}}"><i class="large material-icons icone imgGlossarioMobile">cloud_off</i></a>
                    {% endif %}
                    <span class="black-text">{{ glossario.nome }}</span>
                </div> -->
                <nav class="glossarioSearchMobile">
                    <div class="nav-wrapper white">
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                {{ formulario }}
                                <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="center">
                                <input type="checkbox" class="filled-in checkboxAzul" id="checkboxPort" name="checkboxPort" checked="checked"/>
                                <label for="checkboxPort">Português</label>
                                <input type="checkbox" class="filled-in checkboxAzul" id="checkboxIng" name="checkboxIng"/>
                                <label for="checkboxIng">Inglês</label>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="sideNavSearchMobileLinks">
                    <li><a class="waves-effect waves-blue" href="https://libras.ufsc.br/"><i class="material-icons"><img class="iconePortalLibras" src='{% static "img/marca_portal_libras2.png" %}'></i>Portal Libras</a></li>
                    <li><a class="waves-effect waves-blue" href="/enviarsinais"><i class="material-icons">send</i>Enviar sinais</a></li>
                    <li><a class="waves-effect waves-blue" href="/historia"><i class="material-icons">library_books</i>História</a></li>
                    <li><a class="waves-effect waves-blue" href="/equipe"><i class="material-icons">supervisor_account</i>Equipe</a></li>
                    <li><a class="waves-effect waves-blue" href="/contato"><i class="material-icons">call</i>Contato</a></li>
                    <li><a class="waves-effect waves-blue" href="/admin"><i class="material-icons">https</i>Admin</a></li>
                </div>
                <li>
                    <div class="userView">
                        <a href="http://ufsc.br" class="brand-logo"><img class="logoUFSCSearchMobile" src='{% static "img/marca_ufsc.svg" %}'></a>
                    </div>
                </li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>
    </div>

<!-- FOOTER -->

    <div class="footer"><img id="borda" src='{% static "img/borda.png" %}'></div>

    {% block Corpo %}
    {% endblock %}

<!-- ABRIR SIDENAV MOBILE -->

    <script type="text/javascript"> //Verificar necessidade desta tag script
        $(".button-collapse").sideNav();
        $('.button-collapse').sideNav('hide');
    </script>

</body>
</html>