<!DOCTYPE html>
<html>
<head>
    {% block Head %}
    {% load staticfiles %}

    <meta name="author" content="Ramon Dutra Miranda"/>
    <meta name="description" content="Glossario libras, ufsc, dicionario, letras libras, glossario cinema"/>
    <meta name="keywords" content="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href='{% static "css/material-icons.css" %}'  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'image-picker/image-picker/image-picker.css' %}"/>
    <script type="text/javascript" src="{% static 'image-picker/image-picker/image-picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.imagemapster.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/baseSearchNav.js' %}"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>


    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>
<body>

<!-- SIDENAV FIXA -->
        
    <ul class="side-nav fixed">
        <div class="nav-wrapper center">
            <a href="/" class="brand-logo"><img class="logoGlossarioSearch" src='{% static "img/marca_glossario.png" %}'></a>
        </div>
        <nav class="glossarioSearch">
            <div class="nav-wrapper white">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ formPesquisa }}
                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    <div class="center">

                            {{ formCheckbox }}

                    </div>
                    <div class="row formSinais">
                        {% for field in formSinais %}
                            {% if field.auto_id == 'id_localizacao' %}
                                <div class="col s12 m4" id="{{field.auto_id}}">
                                    <a class="modal-trigger" href="#modalLocalizacao">
                                        <!-- {{ field.errors }} -->
                                        <!-- {{ field.label_tag }} -->
                                        {{ field }}
                                    </a>
                                </div>
                            {% elif field.auto_id == 'id_grupoCMe' %}
                                <div class="col s12 m4" id="{{field.auto_id}}">
                                    <a class="modal-trigger" href="#modalGrupoCMe">
                                        <!-- {{ field.errors }} -->
                                        <!-- {{ field.label_tag }} -->
                                        {{ field }}
                                    </a>
                                </div>
                            {% elif field.auto_id == 'id_cmE' %}
                                <div class="col s12 m4" id="{{field.auto_id}}">
                                    <a class="modal-trigger" href="#modalCMe">
                                        <!-- {{ field.errors }} -->
                                        <!-- {{ field.label_tag }} -->
                                        {{ field }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="center">
                            <button class="btn waves-effect waves-light botaoPesquisar" type="submit" name="botaoPesquisar">
                                Pesquisar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div class="nav-wrapper"><a href="http://ufsc.br"><img class="logoUFSCSearch" src='{% static "img/marca_ufsc.svg" %}'></a></div>
        <div class="nav-wrapper"><img class="borda" src='{% static "img/borda2.png" %}'></div>
    </ul>

<!-- NAVBAR MOBILE -->

    <div class="navbar hide-on-large-only">
        <nav class="blue darken-4" role="navigation">
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <div class="row logosPositionFix">
                        <div class="logosPositionFix col s6">
                            <a href="{% url 'index' %}" class="logosPositionFix"><img class="logoGlossarioSearch" src='{% static "img/marca_glossario.png" %}'></a>
                        </div>
                        <div class="logosPositionFix col s6">
                            <a href="http://ufsc.br" class="logosPositionFix"><img class="logoUFSCSmall" src='{% static "img/marca_ufsc2.svg" %}'></a>
                        </div>
                    </div>
                </li>
                <nav class="glossarioSearch">
                    <div class="nav-wrapper white">
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                {{ formPesquisa }}
                                <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                            <!--<div class="checkboxes">-->
                                <!--{{ formCheckbox }}-->
<!--&lt;!&ndash;                                 <input type="checkbox" class="filled-in checkboxAzul" id="checkboxPort" name="checkboxPort" checked="checked"/>-->
                                <!--<label for="checkboxPort">Português</label>-->
                                <!--<input type="checkbox" class="filled-in checkboxAzul" id="checkboxIng" name="checkboxIng"/>-->
                                <!--<label for="checkboxIng">Inglês</label> &ndash;&gt;-->
                            <!--</div>-->
                        </form>
                    </div>
                </nav>

                <div class="sideNavSearchMobileLinks">
                    <li>
                        <a class="waves-effect waves-blue" href="/enviarsinais">
                            <i class="material-icons">send</i>
                            Enviar sinais
                        </a>
                    </li>
                    <li><a class="waves-effect waves-blue" href="/historia"><i class="material-icons">library_books</i>História</a></li>
                    <li><a class="waves-effect waves-blue" href="/equipe"><i class="material-icons">supervisor_account</i>Equipe</a></li>
                    <li><a class="waves-effect waves-blue" href="/contato"><i class="material-icons">call</i>Contato</a></li>
                    <li><a class="waves-effect waves-blue" href="/admin"><i class="material-icons">https</i>Admin</a></li>
                    <li><a class="waves-effect waves-blue" href="https://libras.ufsc.br/"><i class="material-icons"><img class="iconePortalLibras" src='{% static "img/marca_portal_libras2.png" %}'></i>Portal Libras</a></li>
                <li>
                    <img class="logoUFSCSearch" src='{% static "img/marca_ufsc.svg" %}'>
                </li>
                <li>
                    <img class="borda" src='{% static "img/borda2.png" %}'>
                </li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>
    </div>

<!-- FOOTER -->

    <!-- <div class="footer"><img class="borda" src='{% static "img/borda.png" %}'></div> -->

    {% block Corpo %}
    {% endblock %}

<!-- ABRIR SIDENAV MOBILE -->

    <script type="text/javascript">
        $(".button-collapse").sideNav();
        $('.button-collapse').sideNav('hide');
    </script>

</body>
</html>