<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <META NAME="author" CONTENT="Ramon Dutra Miranda"/>
    <META NAME="description" CONTENT="Glossario libras, ufsc, dicionario, letras libras, glossario cinema"/>
    <META NAME="keywords" CONTENT="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>
    <link href='{% static "css/style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container-fluid"><a id="logo-container" href="/" class="brand-logo right"><img src='{% static "img/marca_ufsc2.png" %}' id="logoufsc"><a href="http://ufsc.br"></a>
    <div class="nav-wrapper container-fluid"><a id="logo-container" href="/" class="brand-logo"><img src='{% static "img/marca_glossario2.png" %}' id="logoGlossario"><a href="http://ufsc.br"></a>
      <ul class="brand-logo center hide-on-med-and-down">
        <li><a href="/enviarsinais">Envie sinais</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/equipe">Equipe</a></li>
        <li><a href="/historia">História</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>

    <ul id="nav-mobile" class="side-nav">
        <li onclick="$('.button-collapse').sideNav('show')">
            <a id="sidenav-letra" href="/">Início</a>
            <li><div class="divider"></div></li>
            <a id="sidenav-letra" href="/enviarsinais">Envie sinais</a>
            <li><div class="divider"></div></li>
            <a id="sidenav-letra" href="/contato">Contato</a>
            <li><div class="divider"></div></li>
            <a id="sidenav-letra" href="/equipe">Equipe</a>
            <li><div class="divider"></div></li>
            <a id="sidenav-letra" href="/historia">História</a>
            <li><div class="divider"></div></li>
            <a id="sidenav-letra" href="/admin">Admin</a>
        </li>
    </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    </nav>

    <div id="baixo">
        <img id="borda" src='{% static "img/borda.png" %}'>
    </div>

    {% block Corpo %}
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript"> //Verificar necessidade desta tag script e o que tem dentro
        $(".button-collapse").sideNav();
        $('.button-collapse').sideNav('hide');
    </script>
</body>
</html>