<div class="col l3 m12 s12 card z-depth-1 grey lighten-4 " onclick="window.location='/sinal/{{s.id}}';">

	<div class="card-image">
	{% if s.video_sinal %}
			<div class="field-video_tag_sinal"><video autoplay="" loop="" src="{{s.video_sinal.url}}" height="325"></video></div>
	{% endif %}
	</div>
	<div class="card-content row">
		<span class="sinalPortugues">{{s.portugues}}  </span>
		<span class="sinalPortugues">  .  </span>
		<span class="sinalIngles">   {{s.ingles}}</span>
	</div>
	<div class="center card-content">
				{% if s.cmE.imagem %}
					<img src="/static/img/configuracoes_de_mao/{{s.cmE.imagem}}" width="21%" class="circle">
					<img src="/static/img/esquerdo.png" width="14%" class="circle responsive-img" style="display=fixed; left=10px;">
				{% endif %}
				{% if s.cmD.imagem %}
					<img  src="/static/img/configuracoes_de_mao/{{s.cmD.imagem}}" width="21%" class="circle">
					<img src="/static/img/direito.png" width="12%" class="circle">
				{% endif %}
				{% if s.localizacao %}
					<img  src="{{s.localizacao}}" width="21%" class="circle">
				{% endif %}

				{% if s.movimentacao %}
					<img  src="{{ s.movimentacao}}" width="21%" class="circle">
				{% endif %}
	 </div>
</div>
