<!DOCTYPE html>

<html>
	<head>
		{% extends 'base.html' %}

		<title>{% block title %}Contato - Glossário Letras Libras{% endblock %}</title>
	</head>

	<body>
		{% block Corpo %}

		{% load staticfiles %}

		<!--<div class="equipe" >
			<br><br><br><br><br><b>Contato:</b><br>
			<img src='{% static "img/contato.png" %}' />
		</div>-->

	<div class="container">
		<h2>Contato</h2>
		<div class="divider"></div>
		<div class="section">
			<h4>Dúvidas e apoio linguístico</h4>
			<p class="flow-text">Profa. Dra. Janine - janinemat@gmail.com</p>
			<p class="flow-text">Marianne - marianne@ead.ufsc.br</p>
		</div>
		<h4>Software</h4>
		<p class="flow-text">Ramon Dutra Miranda - ramon.rdm@ufsc.br</p>
	</div>

		{% endblock %}
	</body>
</html>