{% extends 'base.html' %}
{{formulario.media}}
{% block Head %}
	{{block.super}}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="/static/image-picker/image-picker/image-picker.css"/>
	<script type="text/javascript" src="/static/image-picker/image-picker/image-picker.js"></script>
	<title>{% block title %}Enviar sinais - Glossário Letras Libras{% endblock %}</title>
{% endblock %}
<body>
	{% block Corpo %}
	<div class="container">
		<h2 class="thin center">Enviar sinais</h2>
		<div class="divider"></div>
		<form method="post" class="formEnviarSinais" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
			{% for field in formulario %}
			{% if field.auto_id == 'id_sinalLibras' or field.auto_id == 'id_varicLibras' or field.auto_id == 'id_descLibras' or field.auto_id == 'id_exemploLibras' %}
			<div class="col s12 m6">
				<label for="{{field.auto_id}}">{{field.label_tag}}</label>
				<div class="file-field input-field">
					<div class="btn waves-effect waves-light botaoEnviarSinal">
						<i class="material-icons right">cloud_upload</i>
						Arquivo
						{{field}}
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			{% elif field.auto_id == 'id_traducaoP' or field.auto_id == 'id_traducaoI' or field.auto_id == 'id_descricao' %}
			<div class="input-field col s12 m4">
				<div class="fieldWrapper">
					{{ field.errors }}
					{{ field.label_tag }}
					{{ field }}
				</div>
			</div>
			{% elif field.auto_id == 'id_localizacao' %}
			<div class="col s12">
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
			</div>
			{% else %}
			<div class="col s12 m6">
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
			</div>
			{% endif %}
			{% endfor%}
			</div>
			<div class="center">
				<button class="btn-large waves-effect waves-light botaoEnviarSinal" type="submit" name="botaoEnviaForm">
					Enviar
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
	{% if toastSucesso %}
	<script>
		Materialize.toast('Sinal enviado para avaliação', 5000)
	</script>
	{% elif toastRepetido %}
	<script>
		Materialize.toast('Ops! Parece que este sinal já existe', 5000)
	</script>
	{% endif %}
	<script>
		$(document).ready(function() {
			// $('select').material_select();
			$('select').imagepicker({
				show_label: true
			});
		});
	</script>

	{% endblock %}
</body>