{% extends 'base.html' %}
{% block Head %}
	{{ block.super }}
	{{ form.media }}
    {% load staticfiles %}
	<title>{% block title %}Enviar sinais - Glossário Letras Libras{% endblock %}</title>
{% endblock %}
{% block Corpo %}
	{% include 'modaisFormSinais.html' %}

    <div class="container">
		<h2 class="thin center">Enviar sinais</h2>
		<div class="divider"></div>

        <form method="post" class="formEnviarSinais" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                {% for field in form %}
                {% if field.auto_id == 'id_sinalLibras' or field.auto_id == 'id_varicLibras' or field.auto_id == 'id_descLibras' or field.auto_id == 'id_exemploLibras' %}



                <div class="col m3 ">
                    <br></br>
                    <label for="{{field.auto_id}}">{{field.label_tag}}</label>
                    <div class="file-field input-field ">
                        <div class="btn waves-effect waves-light botaoEnviarSinal z-depth-4">
                            <i class="material-icons right">cloud_upload</i>
                            Arquivo
                            {{field}}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>



                            {% elif field.auto_id == 'id_localizacao' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalLocalizacao">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>

                            {% elif field.auto_id == 'id_grupoCMe' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalGrupoCMe">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>

                            {% elif field.auto_id == 'id_grupoCMd' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalGrupoCMd">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>

                                   {% elif field.auto_id == 'id_cmE' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalCMe">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>

                            {% elif field.auto_id == 'id_cmD' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalCMd">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>

                            {% elif field.auto_id == 'id_movimentacao' %}
                           <div class="col s4" id="{{auto.id}}">
                               <a class="modal-trigger" href="#modalMovimentacao">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                               </a>
                           </div>



                {% else %}
                <div class="col s12 m12" id="{{field.auto_id}}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                    {% endif %}
                    {% endfor%}
                </div>

                <div class="center">
                    <button class="btn-large waves-effect waves-light botaoEnviarSinal" type="submit" name="botaoEnviaForm">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
        </form>
    </div>




	{% if toastSucesso %}
	<script>
		Materialize.toast('Sinal enviado para avaliação', 5000)
	</script>
	{% elif toastRepetido %}
	<script>
		Materialize.toast('Ops! Parece que este sinal já existe', 5000)
	</script>
	{% endif %}
{% endblock %}
