<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %}Equipe - Glossário Letras Libras{% endblock %}</title>
{% block Corpo %}
<div class="linha1">
{% for u in usuario %}
{{ u.nome }}
{{ u.foto }}
{{ u.latte }}
{% endfor %}
</div>
<div class="equipe">
<b>Colaboradores anteriores:</b>
<br>
<br>
João Ricardo Rover<br> 
Bacharel em Ciência da Computação<br>
Programador<br>
<br>
Natália Pizzetti<br>
Mestre em Design e Expressão Gráfica<br>
Designer<br>
<br>
Lucas de Jesus<br>
Mestre em Design<br>
Designer e editor de vídeos<br>
<br>
Fernanda Machado<br>
Mestranda do Programa de Pós-Graduação em Estudos da Tradução<br>
Tradutora de Português/Libras<br>
<br>
Germano Dutra Junior<br>
Graduado em Letras-Libras – Licenciatura e graduando do Curso de Cinema da UniSul<br>
Tradutor de Português/Libras.<br>
<br>
Ana Regina Campello<br>
Professora Doutora<br>
Tradutora de Português/Libras<br>
<br>
Débora Wanderley<br>
Mestre em Linguística<br>
Tradutora de Português/Libras.<br>
<br>
Franz Kafka Porto Domingos<br>
Mestrando em Estudos da Tradução e Graduando do curso Letras-Libras<br>
Tradutor de Libras/Escrita de Sinais<br>
<br>
Heloíse Gripp<br>
Mestre em Linguística<br>
Tradutora de Português/Libras.<br>
<br>
Rafael Cavichiolli Teixeira<br>
Graduando em Letras-Libras<br>
Cinegrafista<br>
<br>
Rimar Segala<br>
Mestre em Linguística<br>
Tradutora de Português/Libras<br>
<br>
Rodrigo Custódio<br>
Mestre em Linguística<br>
Tradutora de Português/Libras<br>
<br>
Ronnie Brito<br>
Professor Doutor em Engenharia e Gestão do Conhecimento<br>
Programador<br>
<br>
Rundesth Nobre<br>
Mestre em Linguística<br>
Tradutora de Libras/Escrita de Sinais<br>
<br>
Thaís Avelar<br>
Mestre em Linguística<br>
Revisora de Libras/Português.<br><br><br><br><br>
</div>
{% endblock %}