<!DOCTYPE html>
{% extends 'base.html' %}
<body>
<html>
<title>{% block title %}Equipe - Glossário Letras Libras{% endblock %}</title>
{% block Corpo %}
<div class="equipe">
<b>Equipe Atual:</b>
<br>
<br>
<b>Marianne Rossi Stumpf</b><br>
Professora Doutora Supervisora do Projeto<br>
<br>
<b>Janine Soares de Oliveira</b><br>
Doutoranda em Estudos de Tradução<br>
Coordenadora de Equipes do Glossário<br>
<br>
<b>Ramon Dutra Miranda</b><br>
Graduando do curso de Ciência da Computação<br>
Programador responsável<br>
<br>
<b>João Pedro Gutierrez Kieling Villegas</b><br>
Graduando do curso Sistemas de Informação<br>
Desenvolvedor<br>
<br>
</div>
<div class="equipe">
<b>Colaboradores anteriores:</b>
<br>
<br>
João Ricardo Rover<br> 
Bacharel em Ciência da Computação<br>
Programador<br>
<br>
Natália Pizzetti<br>
Mestre em Design e Expressão Gráfica<br>
Designer<br>
<br>
Lucas de Jesus<br>
Mestre em Design<br>
Designer e editor de vídeos<br>
<br>
Fernanda Machado<br>
Mestranda do Programa de Pós-Graduação em Estudos da Tradução<br>
Tradutora de Português/Libras<br>
<br>
Germano Dutra Junior<br>
Graduado em Letras-Libras – Licenciatura e graduando do Curso de Cinema da UniSul<br>
Tradutor de Português/Libras.<br>
<br>
Ana Regina Campello<br>
Professora Doutora<br>
Tradutora de Português/Libras<br>
<br>
Débora Wanderley<br>
Mestre em Linguística<br>
Tradutora de Português/Libras.<br>
<br>
Franz Kafka Porto Domingos<br>
Mestrando em Estudos da Tradução e Graduando do curso Letras-Libras<br>
Tradutor de Libras/Escrita de Sinais<br>
<br>
Heloíse Gripp<br>
Mestre em Linguística<br>
Tradutora de Português/Libras.<br>
<br>
Rafael Cavichiolli Teixeira<br>
Graduando em Letras-Libras<br>
Cinegrafista<br>
<br>
Rimar Segala<br>
Mestre em Linguística<br>
Tradutora de Português/Libras<br>
<br>
Rodrigo Custódio<br>
Mestre em Linguística<br>
Tradutora de Português/Libras<br>
<br>
Ronnie Brito<br>
Professor Doutor em Engenharia e Gestão do Conhecimento<br>
Programador<br>
<br>
Rundesth Nobre<br>
Mestre em Linguística<br>
Tradutora de Libras/Escrita de Sinais<br>
<br>
Thaís Avelar<br>
Mestre em Linguística<br>
Revisora de Libras/Português.<br><br><br><br><br>
</div>
</html>
</body>
{% endblock %}