<head>
	{% extends 'baseSearchNav.html' %}
	{% load staticfiles %}
	<title>{% block title %}{{ glossario.nome }} - Glossário Letras Libras{% endblock %}</title>
</head>
<body>
	{% block Corpo %}

	<div class="section container">
		<div class="row valign-wrapper">
			<div class="col s6 m8 l6">
				{% if glossario.imagem %}
					<a href="/{{glossario.link}}"><img class="circle z-depth-4 imgGlossario" src="{{ glossario.imagem.url }}"/></a>
				{% else %}
					<a href="/{{glossario.link}}"><i class="large material-icons icone imgGlossario">cloud_off</i></a>
				{% endif %}
			</div>
			<div class="col s6 m8 l6 pull-s1 pull-m2 pull-l3">
				<h3 class="thin hide-on-small-only">{{glossario.nome}}</h3>
				<h4 class="thin hide-on-med-and-up">{{glossario.nome}}</h4>
				<p>{{glossario.descricao}}</p>
			</div>
		</div>
	</div>
	<div class="container divider"></div>
	{% if glossario.videoGlossario %}
		<div class="video-container center">
			<video class="responsive-video z-depth-5 videoGlossario" controls preload="metadata">
				<source src="{{glossario.videoGlossario.url}}">
				Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
			</video>
		</div>
	{% else %}
		<div class="center">
			<i class="large material-icons icone videoOff">videocam_off</i>
		</div>
	{% endif %}

	{% endblock %}
</body>