<!DOCTYPE html>

{% extends 'base.html' %}

<title>{% block title %}{{ glossario.nome }} - Glossário Letras Libras{% endblock %}</title>

{% block Corpo %}
{% load staticfiles %}
<!--
<nav class="nav-extended light-blue darken-4 hide-on-med-and-down" role="navigation">
		<ul class="tabs tabs-transparent">
			<ul>
				<li class="tab" id="tab-glossario"><a target="_self" href="/teste1">Glossário</a></li>
				<li class="tab" id="tab-buscaSinal"><a target="_self" href="/teste1/s">Buscar pelo sinal</a></li>
				<li class="tab" id="tab-buscaPortugues"><a target="_self" href="/teste1/p">Buscar pelo português</a></li>
				<li class="tab" id="tab-buscaIngles"><a target="_self" href="/teste1/e">Buscar pelo inglês</a></li>
			</ul>
		</ul>
</nav>
-->

<div class="col s12 m4 l3">
</div>

{% if glossario.imagem %}
	<div class="selecionada">
		<a href="{{ glossario.link }}"><img width="90px" height="120px" src="{{ glossario.imagem.url }}"/></a>
{% else %}
		<a href="{{ glossario.link }}"><i class="large material-icons">cloud_off</i></a>
{% endif %}
		<div id="glossarioselec"><b>{{ glossario.nome }}</b></div>
	</div>

{% if glossario.videoGlossario %}
	<div class="center">
		<video width="800" id="videoprincip" muted="muted" preload="metadata">
			<source src="{{ glossario.videoGlossario.url }}">
			Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
		</video>
	<ul id="botoesVideo">
		<li><img id="play" src='{% static "img/play.png" %}'/></li>
		<li><img id="pause" src='{% static "img/pause.png" %}'/></li>
		<li><img id="stop" src='{% static "img/stop.png" %}'/></li>
	</ul>
{% else %}
	<i class="large material-icons">videocam_off</i>
{% endif %}

<script type="text/javascript" src='{% static "img/videoControl.js" %}'></script>
</div>
</div>

{% endblock %}
