{% load staticfiles %}
    <meta name="author" content="Ramon Dutra Miranda"/>
    <meta name="description" content="Glossario libras, ufsc, dicionario, letras libras, glossario cinema"/>
    <meta name="keywords" content="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <link type="text/css" rel="stylesheet" href='{% static "css/material-icons.css" %}'  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'image-picker/image-picker/image-picker.css' %}"/>
    <script type="text/javascript" src="{% static 'image-picker/image-picker/image-picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.imagemapster.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/baseSearchNav.js' %}"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>