<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<META NAME="author" CONTENT="Ramon Dutra Miranda"/>
	<META NAME="description" CONTENT="Glossario libras, ufsc, dicionario, letras libras, glossario cinema"/>
    <META NAME="keywords" CONTENT="glossario, libras, ufsc, glossário, glossários, letras libras, dicionario"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <title>Glossários de Libras - Glossário Letras Libras</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/> 
</head>

<body>
    
    <div class="top">
        <a href="http://ufsc.br"> <img id="logoufsc"  src='{% static "img/marca_ufsc.png" %}'/></a>
          <nav id="menuS" >        
            <ul>
                <li><a href="/index/enviarsinais" >Envie sinais</a></li>
                <li><a href="/index/contato" >Contato</a></li>
                <li><a href="/index/equipe" >Equipe</a></li>
                <li><a href="/index/historia" >História</a></li>
                <li><a href="/admin" >Admin</a></li>
            </ul>
        </nav>
        <a href="/"><img id="glossario" src='{% static "img/marca_glossario.png" %}'/></a>
    </div>

<div class="horiz" >
     <a href="/letraslibras"><img id="imgs" src='{% static "img/marca_libras.png" %}'/></a>
     <a href="/arquitetura" ><img id="imgs" src='{% static "img/arquitetura.png" %}'><img/></a>
     <a href="#"><img id= "imgs" src='{% static "img/cinema.png" %}'><img/></a>
     <a href="#"><img id= "imgs" src='{% static "img/3-pontos.png" %}' /></a>
</div>

	

	
	
</body>
</html>
