{% extends 'base.html' %}
{% block Head %}
	{{ block.super }}
    {% load staticfiles %}
     <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock %}
{% block title %}Glossários de Libras - Glossário Letras Libras{% endblock %}
{% block Corpo %}
    <div class="row center blockContainer">
        <div class="block col s4 m3">
            <a href="{% url 'temas' %}">
                <img class="circle z-depth-2 hoverable imgIndex" src="{% static 'img/arvore_banyan_havai.png' %}">
                <div>
                    <span class="flow-text textoIndex">Temas</span>
                </div>
            </a>
        </div>
        {% for glossario in glossarios %}
            <div class="block col s4 m3">
                {% if glossario.imagem %}
                    <a href="/{{glossario.link}}">
                        <img class="circle z-depth-2 hoverable imgIndex" src="{{glossario.imagem.url}}">
                        <div>
                            <span class="flow-text textoIndex">{{glossario.nome}}</span>
                        </div>
                    </a>
                {% else %}
                    <a href="/{{glossario.link}}">
                        <i class="large material-icons icone imgIndex">cloud_off</i>
                        <div>
                            <span class="flow-text textoIndex">{{glossario.nome}}</span>
                        </div>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if modalConfirmeEmail %}
      <div id="confirmeEmail" class="modal">
        <div class="modal-content">
          <h5>Obrigado por se Cadastrar</h5>
          <p>Por favor confirme seu endereço de email para completar o registro</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
      </div>
    {% else %}
    {% endif %}
{% endblock %}