<!DOCTYPE html>
{% extends 'base.html' %}

<title>{% block title %}Glossários de Libras - Glossário Letras Libras{% endblock %}</title>

{% block Corpo %}
{% load staticfiles %}

<div class="center blockContainer">
    <div class="center block">
        <a href="/temas"><img class="circle imgIndex" src="{% static 'img/arvore_banyan_havai.png' %}"><span class="flow-text">Temas</span></a>
    </div>
    {% for glossario in glossarios %}
        <div class="center block">
            {% if glossario.imagem %}
                <a href="/{{glossario.link}}"><img class="circle imgIndex" src="{{glossario.imagem.url}}"><span class="flow-text">{{glossario.nome}}</span></a>
            {% else %}
                <a href="/{{glossario.link}}"><i class="large material-icons imgIndex">cloud_off</i><span class="flow-text">{{glossario.nome}}</span></a>
            {% endif %}
        </div>
    {% endfor %}
</div>


<!-- <div class="horiz">
	<div class="linha1 red">
            <a href="/temas"><img class="circle" width="160" height="160" id="centro" src="{% static 'img/arvore_banyan_havai.png' %}"/></a>
    	<p>Temas</p>
	</div>
{% for g in glossarios %}
    <div class = "linha1" >
        {% if g.imagem %}
            <a href= /{{ g.link }} ><img width="160" height="160" id="centro" src ="{{ g.imagem.url }}" /></a>
        {% else %}
            <a href= /{{ g.link }} ><i class="large material-icons">cloud_off</i></a>
        {% endif %} 
        <p> {{ g.nome }} </p>
    </div>
{% endfor %}
</div> -->

{% endblock %}


<!--

JAVASCRIPT 'CAROUSEL'

<div class="carousel">
    <a class="carousel-item" href="/temas"><img src="{% static 'img/arvore_banyan_havai.png' %}"/></a>
    {% for g in glossarios %}
        {% if g.imagem %}
            <a class="carousel-item" href="/{{g.link}}"><img src="{{g.imagem.url}}"></a>
        {% else %}
            <a href="/{{g.link}}"><i class="large material-icons">cloud_off</i></a>
        {% endif%}
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script>


-->