{{ formSinais.media }}
{% load staticfiles %}
<nav class="row">
    <form method="post">
        <div class="nav-wrapper col s9 ">


               <ul class="right input-field">
                    {% for field in formSinais %}
                        {% if field.auto_id == 'id_localizacao' %}
                            <li id="{{auto.id}}">
                                <a class="modal-trigger" href="#modalLocalizacao">
                                    {{ field }}
                                </a>
                            </li>
                        {% elif field.auto_id == 'id_cmE' %}
                            <li id="{{auto.id}}">
                                <a class="modal-trigger" href="#modalCMe">
                                    {{ field }}
                                </a>
                            </li>
                         {% elif field.auto_id == 'id_movimentacao' %}
                            <li id="{{auto.id}}">
                                <a class="modal-trigger" href="#modalMovimentacao">
                                    {{ field  }}
                                </a>
                            </li>
                        {% endif %}
                   {% endfor %}

                    <li><button class="btn waves-effect waves-light botaoPesquisar" type="submit" id="botaoPesquisar" name="botaoPesquisar">Pesquisar<i class="material-icons right">send</i></button></li>

               </ul>

        </div>
        <div class="nav-wrapper col s3">
            <div class=" input-field">
                             {% csrf_token %}
                             {{ formPesquisa }}
                             <label class="label-icon" for="search"><i class="material-icons grey-text ">search</i></label>
                                <i class="material-icons">close</i>
            </div>

        </div>

    </form>
</nav>