{% extends 'base.html' %}
{% block Head %}
	{{ block.super }}
    {{ formSinais.media }}
	{% load staticfiles %}
	<title>{% block title %}Pesquisa {{ glossario.nome }} - Glossário Letras Libras {% endblock %}</title>
{% endblock %}


{% block Corpo %}
	    {% include 'navSearch.html' %}
    	{% include 'modaisFormSinais.html' %}
		{% if glossario.imagem %}
			<a href="/{{glossario.link}}"><img class="circle imgGlossario" src="{{ glossario.imagem.url }}"/></a>
		{% endif %}
		<div class="container">
			<h2 class="thin center">{{glossario.nome}}</h2>
		</div>
		<div class="container divider"></div>
		<div class="container">
			<div class="center">
				{% if sinais %}

					<p class="flow-text">Encontrado {{resultado}} resultado(s):</p>
						<table class="table-responsive highlight centered">
							<thead>
								<tr>
									<th>Português</th>
									<th>Inglês</th>
									<th>Grupo esquerda</th>
									<th>Configuração esquerda</th>
									<th>Grupo direita</th>
									<th>Configuração direita</th>
									<th>Localização</th>
									<th>Movimentação</th>
								</tr>
							</thead>
							<tbody>
							{% for s in sinais %}
								<tr onclick="window.location='/sinal/{{s.id}}';">

									<td>{{s.traducaoP}}</td>

									<td>{{s.traducaoI}}</td>

									{% if s.grupoCMe.imagem %}
										<td><img src="{{s.grupoCMe.imagem.url}}" width="50" class="circle"></td>
									{% else %}
										<td></td>
									{% endif %}
									{% if s.cmE.imagem %}
										<td><img src="{{s.cmE.imagem.url}}" width="50" class="circle"></td>
									{% else %}
										<td></td>
									{% endif %}
									{% if s.grupoCMd.imagem %}
										<td><img src="{{s.grupoCMd.imagem.url}}" width="50" class="circle"></td>
									{% else %}
										<td></td>
									{% endif %}
									{% if s.cmD.imagem %}
										<td><img src="{{s.cmD.imagem.url}}" width="50" class="circle"></td>
									{% else %}
										<td></td>
									{% endif %}
									{% if s.localizacao %}
										<td><img src="{{s.localizacao}}" width="50" class="circle"></td>
									{% endif %}
									{% if s.movimentacao %}
										<td><img src="{{ s.movimentacao}}" width="50" class="circle"></td>
									{% endif %}

								</tr>
							{% endfor %}
							</tbody>
						</table>

				{% else %}
					<p class="flow-text">Nenhum sinal encontrado</p>
				{% endif %}
		</div>
{% endblock %}
