<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %}Pesquisa {{ glossario.nome }} - Glossário Letras Libras {% endblock %}</title>
{% block Corpo %}
{% load staticfiles %}

<nav class="nav-extended light-blue" role="navigation">
	<form>
		<div class="input-field">
			<input id="search" type="search" required>
			<label class="label-icon" for="search"><i class="material-icons">search</i></label>
			<i class="material-icons">close</i>
		</div>
	</form>
</nav>

<div class="selecionada">
	{% if glossario.imagem %}
		<a href="media/"{{ glossario.link }}><img width="90px" height="120px" src="{{ glossario.imagem.url }}"/></a>
	{% else %}
		<i class="large material-icons">cloud_off</i>
	{% endif %}
	<div class="glossarioselec"><b>{{ glossario.nome }}</b></div>
</div>
<div class="formulario">
{% if resultado %}
<b>Exibindo :</b> {{ resultado }} resultados.	
{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{{ formulario.as_p }}<button type="submit">Pesquisar</button>
	</form>
	<div id="results">  
	{% for s in sinais %}
	<div class="linha1">
		<a href="/sinal/{{ s.id }}"> {{ s.traducaoP }}
	</div>
	{% endfor %}
	</div>
</div>
{% endblock %}