<head>
	{% extends 'base.html' %}
</head>
<body>

    {% block Corpo %}
        <div class="container">
		    <h2 class="thin center">Registrar</h2>
		    <div class="divider"></div>
                <div class="file-field ">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn waves-effect botaoEnviarSinal center" value='Registrar' type="submit" name="Registrar">Registrar </button>
                    </form>
                </div>
            </div>
        </div>
	{% endblock %}
</body>