<head>
	{% extends 'base.html' %}
	<title>{% block title %}Contato - Glossário Letras Libras{% endblock %}</title>
</head>

    {% block Corpo %}
        <br></br><br></br>
        <div class="row container center unidades" >
	        <div class="col l10 push-l1 ">
                <h3> Crie sua Conta </h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="waves-effect waves-light btn color light-blue darken-4" value='Registrar' type="submit" name="Registrar">Registrar</button>
                </form>
            </div>
        </div>
	{% endblock %}
</body>