<head>
	{% extends 'base.html' %}
	<title>{% block title %}Contato - Glossário Letras Libras{% endblock %}</title>
</head>

    {% block Corpo %}
        <div class="container">
		<h2 class="thin center">Registrar</h2>
		<div class="divider"></div>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <center><button class="waves-effect waves-light btn-large color light-blue darken-4" value='Registrar' type="submit" name="Registrar">Registrar</button></center>
                </form>
            </div>
        </div>
	{% endblock %}
</body>