{{ formSinais.media }}
{% load staticfiles %}
<div class="telaWeb" style= "display: none;" >
    <div class="navbar-fixed">
    {% if formPesquisa %}
        <nav class="row white" >
            <form method="post" action="{% url 'pesquisa'  %}" >
                <ul class=" col l0 left">
                    <li>
                        <a id="abrirSidenav" class="btn-floating btn-flat waves-effect waves-light white">
                            <i class="material-icons">dehaze</i>
                        </a>
                    </li>
                    <li>
                        <a id="fecharSidenav" class="btn-floating btn-flat waves-effect waves-light white">
                            <i class="material-icons">dehaze</i>
                        </a>
                    </li>
                </ul>

                <div class=" col l3">
                    <a href="/">
                        <img class="brand-logo left" src='{% static "img/marca_glossario.png" %}'>
                    </a>
                </div>
                <ul>
                {% for field in formSinais %}
                    <div class="col l1 center">
                        {{field}}
                    </div>
                {% endfor %}
                    <div class="col l1 right">
                        <li>
                            <button class="btn waves-effect waves-light botaoPesquisar" type="submit" id="botaoPesquisar" name="botaoPesquisar" >Pesquisar<i class="material-icons right">send</i></button>
                        </li>
                    </div>
                </ul>
                <div class=" col l2 right nav-wrapper">
                    <div class="input-field right" name="pesquisa">
                    {% csrf_token %}
                    {{ formPesquisa }}
                        <label class="label-icon" for="search">
                            <i class="material-icons grey-text">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </div>
            </form>
        </nav>
    {% else %}
        <nav class="row white">
            <ul class=" col l5 left">
                <li>
                    <a id="abrirSidenav" class="btn-floating btn-flat waves-effect waves-light white">
                        <i class="material-icons">dehaze</i>
                    </a>
                </li>
                <li>
                    <a id="fecharSidenav" class="btn-floating btn-flat waves-effect waves-light white">
                        <i class="material-icons">dehaze</i>
                    </a>
                </li>
            </ul>
            <div class=" col l2 center">
                <a href="/">
                    <img class="brand-logo" src='{% static "img/marca_glossario.png" %}'>
                </a>
            </div>
        </nav>
    {% endif %}
        <ul id="mostrarSidenav" class="sidenav sidenav-fixed">
            <div id="" class="sideNavLinks">
                {% include 'menu.html' %}
            </div>
        </ul>
    </div>
</div>
<div class="telaMobile" style= "display: none;">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
            <a href="/"><img class="logoGlossarioMobile" src='{% static "img/mobile_glossario.png" %}'></a>
        </div>
    </nav>
    {% if formPesquisa %}
        <form method="post">
            <nav id="mobileSearchLibras" class="row nav-extended grey lighten-4">
                <ul>
                    {% for field in formSinais %}
                         <div class="col s3 left">
                        {{field}}
                             </div>
                    {% endfor %}

                    <div class="col s3 right">
                        <button style="margin-top: 25px;" class="btn-flat" type="submit" id="botaoPesquisar" name="botaoPesquisar"><i class="material-icons right">send</i></button>
                    </div>
                </ul>
                <a  id="abrirNavSearchMobile" class="btn-floating btn-large halfway-fab waves-effect waves-light indigo darken-4" style="position: fixed;" ><i class="material-icons white-text">text_format</i></a></nav>
            </nav>
            <nav id="mobileSearchEscrita">
                <div class="nav-wrapper grey lighten-4">
                    <form method="post" name>
                            {% csrf_token %}
                            {{ formPesquisa }}
                            <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>
                            <i class="material-icons">close</i>
                        </ul>
                    </form>
                </div>
                <a id="fecharNavSearchMobile" class="btn-floating btn-large halfway-fab waves-effect waves-light indigo darken-4"  style="position: fixed;"><i class="material-icons white-text">pan_tool</i></a>
            </nav>
        </form>
    {% else %}
    {% endif %}
    <ul class="sidenav" id="mobile-demo">
        {% include 'menu.html' %}
    </ul>
</div>
