{% extends 'baseSearchNav.html' %}

<head>
	{% block Head %}
		{{block.super}}

	{% load staticfiles %}

	<script type="text/javascript" src='{% static "js/sinal.js" %}'></script>
	<title>{% block title %}Sinal - Glossário Letras Libras{% endblock %}</title>

	{% endblock %}
</head>

<body>

	{% block Corpo %}

	<script type="text/javascript" src='{% static "js/sinal.js" %}'></script>
	
<!-- VÍDEOS -->

	<div class="center" id="videoSinal">
		<p class="flow-text">Sinal</p>
		{% if sinal.sinalLibras %}
			<video class="responsive-video z-depth-5 videoSinal" controls preload="metadata">
				<source src="{{sinal.sinalLibras.url}}">
				Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
			</video>
		{% else %}
			<i class="large material-icons videoSinal icone">videocam_off</i>
		{% endif %}
	</div>

	<div class="center" id="videoExemplo">
		<p class="flow-text">Exemplo</p>
		{% if sinal.exemploLibras %}
			<video class="responsive-video z-depth-5 videoSinal" controls preload="metadata">
				<source src="{{sinal.exemploLibras.url}}">
				Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
			</video>
		{% else %}
			<i class="large material-icons videoSinal icone">videocam_off</i>
		{% endif %}
	</div>

	<div class="center" id="videoDescricao">
		<p class="flow-text">Descrição</p>
		{% if sinal.descLibras %}
			<video class="responsive-video z-depth-5 videoSinal" controls preload="metadata">
				<source src="{{sinal.descLibras.url}}">
				Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
			</video>
		{% else %}
			<i class="large material-icons videoSinal icone">videocam_off</i>
		{% endif %}
	</div>

	<div class="center" id="videoVariacao">
		<p class="flow-text">Variação</p>
		{% if sinal.varicLibras %}
			<video class="responsive-video z-depth-5 videoSinal" controls preload="metadata">
				<source src="{{sinal.varicLibras.url}}">
				Seu navegador não suporta vídeo html5, por favor atualize seu navegador.
			</video>
		{% else %}
			<i class="large material-icons videoSinal icone">videocam_off</i>
		{% endif %}
	</div>

<!-- IDENTIFICAÇÃO DO SINAL -->

	<div class="center">
		<span class="flow-text nomeSinal">
			Português: {{sinal.traducaoP}}
			Inglês: {{sinal.traducaoI}}
		</span>
	</div>

	{% if sinal.descricao %}
		<div class="center">
			<p class="flow-text">Descrição: {{sinal.descricao}}</p>
		</div>
	{% endif %}

	<div class="row">
		<div class="col s12 m6">
			<div class="card blue darken-4 z-depth-5 cardMao">
				<div class="card-content white-text">
					<span class="card-title">Mão esquerda</span>
					<div class="mao">
						Grupo de configuração da mão esquerda:
						<div class="center imgMao">
							{% if sinal.grupoCMe.imagem %}
								<img class="circle imgSinal" src="{{sinal.grupoCMe.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
						Configuração da mão esquerda:
						<div class="center imgMao">
							{% if sinal.cmE.imagem %}
								<img class="circle imgSinal" src="{{sinal.cmE.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
						Localização do sinal:
						<div class="center imgMao">
							{% if sinal.localizacao.imagem %}
								<img class="circle imgSinal" src="{{sinal.localizacao.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card blue darken-4 z-depth-5 cardMao">
				<div class="card-content white-text">
					<span class="card-title">Mão direita</span>
					<div class="mao">
						Grupo de configuração da mão direita:
						<div class="center imgMao">
							{% if sinal.grupoCMd.imagem %}
								<img class="circle imgSinal" src="{{sinal.grupoCMd.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
						Configuração da mão direita:
						<div class="center imgMao">
							{% if sinal.cmD.imagem %}
								<img class="circle imgSinal" src="{{sinal.cmD.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
						Localização do sinal:
						<div class="center imgMao">
							{% if sinal.localizacao.imagem %}
								<img class="circle imgSinal" src="{{sinal.localizacao.imagem.url}}">
							{% else %}
								<i class="large material-icons white-text imgIndex">cloud_off</i>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}

</body>