<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %}Sinal - Glossário Letras Libras{% endblock %}</title>
{% block Corpo %}
{% load staticfiles %}
<script type="text/javascript" src='{% static "js/sinal.js" %}'></script>
<div class="videos">
<ul class="navegat">
<li class="tabAtiv"><div id="videoUse"><h2>Sinal</h2>
	
</div></li>
<li class="tabHide"><div id="videoTab"><h3>Exemplo</h3>
	
</div></li>
<li class="tabHide"><div id="videoTab"><h4>Descrição</h4>
	
</div></li>
<li class="tabHide"><div id="videoTab"><h5>Variação</h5>
	
</div></li>
</div>

<div id="palavratrad">
<br>
<big>Português:</big> <b>{{ sinal.traducaoP }}.</b><br><big> Inglês: </big><b>{{ sinal.traducaoI }}.</b>
</div>
<br>
<br><br><br>
<div id="descr">
<b>Descrição:</b>  {{ sinal.descricao }}
</div>
<div>
<div id="CMD">
Grupo de configuração da mão direita:<br>
{{ sinal.grupoCMd }}<br>
Configuração da mão direita:<br>
{{ sinal.cmD }}<br>
Localização do sinal
{{ sinal.localizacao }}
</div>
<div id="CME">
Grupo de configuração da mão esquerda:<br>
{{ sinal.grupocmE }}<br>
Configuração da mão esquerda:<br>
{{ sinal.cmE }}<br>
Sign Writing
</div>
</div>
{% endblock %}
