<img id="imagem_{{ name }}" class="hide-on-small-only sinais waves-effect waves-light modal-trigger" src="/static/img/X.svg" href="#modal-libras-{{ name }}">
<img id="imagem_{{ name }}_mobile" class="hide-on-large-only sinaisMobile waves-effect waves-light modal-trigger" src="/static/img/X.svg" href="#modal-libras-{{ name }}">
<input type="hidden" id="id_{{ name }}" name="{{ name }}" value="{{ value|default:"" }}">

<script type="text/javascript">
$(document).ready(function(){
    var valor_{{ name }} = "{{ value }}";
    if(valor_{{ name }}){
        $('#id_{{ name }}').val(valor_{{ name }});
        $('#imagem_{{ name }}').attr('src', $('#imagem_modal_{{name}}_{{ value }}').attr('src'));
        $('#imagem_{{ name }}_mobile').attr('src', $('#imagem_modal_{{name}}_{{ value }}').attr('src'));
    }
});
</script>

<div id="modal-libras-{{ name }}" class="modal">
    <div class="modal-content">
        <h4 class="black-text center">Movimentações</h4>
        {% for movimentacao in movimentacao %}
            <img id="imagem_modal_{{name}}_{{ movimentacao.0 }}" id-field="{{ movimentacao.0 }}" src="/static/img/{{ movimentacao }}" class="sinais escolhaMovimentacao waves-effect waves-light modal-trigger modal-close">
        {% endfor %}
    </div>
</div>