<img id="imagem_{{ name }}" class="hide-on-small-only sinais waves-effect waves-light modal-trigger" src="/static/img/X.svg" href="#modal-libras-{{ name }}">
<img id="imagem_{{ name }}_mobile" class="hide-on-large-only sinaisMobile waves-effect waves-light modal-trigger" src="/static/img/X.svg" href="#modal-libras-{{ name }}">
<input type="hidden" id="id_{{ name }}" name="{{ name }}" value="{{ value|default:"" }}">

<script type="text/javascript">
var objetos_{{name}} = {{ objetos|safe }};
$(document).ready(function(){
    var valor_{{ name }} = "{{ value|safe }}";
    if(valor_{{ name }}){
        $('#id_{{ name }}').val(valor_{{ name }});
        $('#imagem_{{ name }}').attr('src', $(cm_{{ name }}_{{ value }}).attr('src'));
        $('#imagem_{{ name }}_mobile').attr('src', $(cm_{{ name }}_{{ value }}).attr('src'));
    }
    $('.escolhaCM{{ name }}').click(function(){
         var escolhaCM = $(this).attr('id_cm');
         $('#id_{{ name }}').val(escolhaCM);
         $('#imagem_{{ name }}').attr('src', $(this).attr('src'));
         $('#imagem_{{ name }}_mobile').attr('src', $(this).attr('src'));

     });
});
</script>

<div id="modal-libras-{{ name }}" class="modal">
    <div class="modal-content">
        <h4 class="black-text center">Grupos</h4>
        {% for grupo in cmGrupos %}
             <img src="/static/img/configuracoes_de_mao/{{ grupo }}/{{ grupo }}.png"  class="sinais waves-effect waves-light modal-trigger modal-close" href="#{{ grupo }}{{ name }}">
        {% endfor %}
    </div>
</div>

{% for grupo in cmGrupos %}
<div id="{{ grupo }}{{ name }}" class="modal">
    <div class="modal-content">
        <h4 class="black-text center" >Configuração de Mão</h4>
        {% for cm in cm %}
            {% if cm.group == grupo %}
                <img id="cm_{{ name }}_{{ cm.id }}"  id_cm="{{ cm.id }}" 
                src="/static/img/configuracoes_de_mao/{{ cm.group }}/{{ cm.bsw }}.png" 
                class="sinais escolhaCM{{ name }} modal-action modal-close thumbnailModal" 
                href="#modalCM">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}