


<img id="image_movimentacao" src="/static/img/X.svg" class="hide-on-small-only sinais waves-effect waves-light modal-trigger" href="#modalMovimentacao">
<img id="image_movimentacao_mobile" src="/static/img/X.svg" class="hide-on-large-only sinaisMobile waves-effect waves-light modal-trigger" href="#modalMovimentacao">
<input type="text" id='id_movimentacao'  name="movimentacao"  value="0" style="display:none"/>




<div id="modalMovimentacao" class="modal">
    <div class="modal-content">
        <h4 class="black-text center">Movimentações</h4>
        {% for movimentacao in movimentacao %}
            <img id="{{ movimentacao.0 }}" src="/static/img/{{ movimentacao }}" class="sinais escolhaMovimentacao waves-effect waves-light modal-trigger modal-close">
        {% endfor %}
    </div>
</div>